@tailwind base;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  @apply text-secondary;
}

body {
  min-height: 100vh;
  @apply bg-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

input,
select,
button {
  @apply focus:outline-none focus:ring-2 focus:ring-accent py-1 px-3;
}

input,
select,
option,
button {
  @apply text-primary;
}

button {
  @apply bg-accent font-medium;
}

@tailwind components;
@tailwind utilities;
